html, body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: $page-background;
  color: $color1;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #DFE9EB;
  border: 6px solid #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cdcdcd;
}
