//Colors
$color1: #49454F;
$color2: #25537C;
$color3: #3FC1C9;
$color4: #D73F3F;
$color5: #FFFFFF;

$page-background: #9FE0E4;


$transition: all 0.3s;
$border-radius: 8px;

//sidebar
$sidebar-border-color: #EDECED;
$sidebar-menu-hover: #EDECED;

$background-color: $color3;
